DATABASE_URL="postgresql://amsiro:amsiro@localhost:5434/amsiro"
JWT_SECRET="random-string-can-be-put-here-but-long"
BACKEND_PORT=3001
FRONTEND_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:3001"
